<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>SKillVista!</title>
</head>
<body class="background-image">
    <header class="site-header">
        <h1>SkillVista</h1>
    </header>

    <div class="navbar">
        <a href="#" class="navbar-link">Find Jobs</a>
        <a href="#" class="navbar-link">Hire Freelancer</a>
        <a href="#" class="navbar-link">Get Ideas</a>
        <a href="#" class="navbar-link">About</a>
        <a href="#" class="navbar-action">Post Project</a>
        <a href="#" class="navbar-action">Login</a>
    </div>

    <div class="content">
        <h2 class="content-heading">World's Largest Freelance Marketplace SKillVista!</h2>
        <p class="content-text">Save up to 90% & get quotes for free. Pay only when you're 100% happy.</p>
        <a href="#" class="content-button">Hire a Freelancer</a>
    </div>
</body>
</html>
