<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>SKillVista!</title>
</head>
<body>
    <header>
        <h1>SkillVista</h1>
    </header>

        <div id="nav">
            <a href="#">Find Jobs</a>
            <a href="#">Hire Freelancer</a>
            <a href="#">Get Ideas</a>
            <a href="#">About</a>
            <a href="#" class="split">Post Project</a>
            <a href="#" class="split">Login</a>
            
        </div>
</body>
</html>