{% extends "base.html" %}
{% block title %}SkillVista - Home{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
<div class="custom-content">
    <h2 class="heading">
      World's Largest Freelance Marketplace SkillVista!
    </h2>
    <p class="custom-text">
      Save up to 90% & get quotes for free. Pay only when you're 100% happy.
    </p>
    <a href="#" class="custom-button">WEB-DEVELOPERS</a>
</div>
<div class="job-postings">
    {% for job in job_postings %}
    <div class="card-container">
        <div class="card">
            <div class="image-container">
                <img src="{{ job.image_url }}" alt="Job Image">
            </div>
            <div class="card-content">
                <h3>{{ job.position_title }}</h3>
                <p><strong>Company:</strong> {{ job.company_information }}</p>
                <p><strong>Description:</strong> {{ job.job_description }}</p>
                <p><strong>Application Deadline:</strong> {{ job.application_deadline }}</p>
                <p><strong>Application Instructions:</strong> {{ job.application_instructions }}</p>
                <p><strong>Contact Information:</strong> {{ job.contact_information }}</p>
                <p><strong>Salary and Benefits:</strong> {{ job.salary_and_benefits }}</p>
            </div>
        </div>
    </div>
    {% if loop.index % 4 == 0 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
