{% extends "base.html" %}

{% block title %}SkillVista - Home{% endblock %}

{% block nav %}
<div class="navbar">
    <a href="{{ url_for('index') }}" class="navbar-link">Home</a>
    <a href="{{ url_for('view_postings') }}" class="navbar-link">Find Jobs</a>
    <a href="#" class="navbar-link">Hire Freelancer</a>
    <a href="{{ url_for('about') }}" class="navbar-link">About</a>
    <a href="{{ url_for('contact') }}" class="navbar-link">Contact</a>
    {% if username is none %}
        <a href="{{ url_for('login') }}" class="navbar-action">Login</a>
    {% else %}
        <a href="{{ url_for('logout') }}" class="navbar-action">Logout</a>
        <a href="{{ url_for('create_job_posting') }}" class="navbar-link">Create Job Posting</a>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
<div class="custom-content">
    <h2 class="heading">
      World's Largest Freelance Marketplace SkillVista!
    </h2>
    <p class="custom-text">
      Save up to 90% & get quotes for free. Pay only when you're 100% happy.
    </p>
    <a href="#" class="custom-button">WEB-DEVELOPERS</a>
    <a href="#" class="custom-button">Software Engineer</a>
    <a href="#" class="custom-button">Data Analyst</a>
    <a href="#" class="custom-button">UX/UI Designer</a>
    <a href="#" class="custom-button">Marketing Specialist</a>
</div>
<div class="job-postings">
    {% for job in job_postings %}
    <div class="card-container">
        <div class="card">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/asset-01.jpg') }}" alt="Job Image">
            </div>
            <div class="card-content">
                <h3>{{ job.position_title }}</h3>
                <p><strong>Company:</strong> {{ job.company_information }}</p>
                <p><strong>Description:</strong> {{ job.job_description }}</p>
                <p><strong>Application Deadline:</strong> {{ job.application_deadline }}</p>
                <p><strong>Application Instructions:</strong> {{ job.application_instructions }}</p>
                <p><strong>Contact Information:</strong> {{ job.contact_information }}</p>
                <p><strong>Salary and Benefits:</strong> {{ job.salary_and_benefits }}</p>
            </div>
        </div>
    </div>
    {% if loop.index % 4 == 0 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
