{% extends "base.html" %}
{% block title %}SkillVista-View Postings{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block nav %}
<div class="navbar">
    <a href="{{ url_for('index') }}" class="navbar-link">Home</a>
    <a href="{{ url_for('view_postings') }}" class="navbar-link">Find Jobs</a>
    <a href="#" class="navbar-link">Hire Freelancer</a>
    <a href="{{ url_for('about') }}" class="navbar-link">About</a>
    <a href="{{ url_for('contact') }}" class="navbar-link">Contact</a>
    <a href="{{ url_for('logout') }}" class="navbar-action">Logout</a>
    <a href="{{ url_for('create_job_posting') }}" class="navbar-link">Create Job Posting</a>
</div>
{% endblock %}

{% block body %}
    <div class="sv-container">
        <h2 class="sv-heading">User Job Postings</h2>
        <table class="sv-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Budget</th>
                    <th>Deadline</th>
                    <th>Instructions</th>
                    <th>Contact Info</th>
                    <th>Salary Benefits</th>
                </tr>
            </thead>
            <tbody>
                {% for row in job_postings %}
                <tr>
                    <td>{{ row.Title }}</td>
                    <td>{{ row.Description }}</td>
                    <td>{{ row.Budget }}</td>
                    <td>{{ row.Deadline }}</td>
                    <td>{{ row.Instructions }}</td>
                    <td>{{ row.ContactInfo }}</td>
                    <td>{{ row.SalaryBenefits }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
