{% extends "base.html" %}

{% block title %}SkillVista - Job Postings{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<div class="container">
    <h1>Job Postings</h1>
    <div class="row">
        {% for job in job_postings %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ job.title }}</h4>
                </div>
                <div class="card-body">
                    <h5>Description:</h5>
                    <p class="card-text">{{ job.description }}</p>
                    <h5>Budget:</h5>
                    <p class="card-text">{{ job.budget }}</p>
                    <h5>Deadline:</h5>
                    <p class="card-text">{{ job.deadline }}</p>
                    <h5>Instructions:</h5>
                    <p class="card-text">{{ job.instructions }}</p>
                    <h5>Contact Information:</h5>
                    <p class="card-text">{{ job.contact }}</p>
                    <h5>Salary and Benefits:</h5>
                    <p class="card-text">{{ job.salary_benefits }}</p>
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
